body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
    
  }
  
  header {
    background-color: #a0eec9;
    /* verde */
    padding: 20px 0;
    color: white;
    text-align: center;
  }
  
  .selector-container {
    background-color: #9dfacc;
    padding: 20px 0;
    text-align: right;
  }
  
  .eventos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
  }
  
  .evento {
    width: 200px;
    height: 200px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    position: relative;
  }
  
  .ver-detalles {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  .sidebar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 250px;
    background-color: #679287;
    color: white;
  }
  
  .sidebar .logo-container {
    padding: 20px;
    text-align: center;
  }
  
  .sidebar nav ul {
    list-style: none;
    padding: 0;
  }
  
  .sidebar nav ul li {
    padding: 10px 20px;
    border-bottom: 1px solid #f3f7f3;
  }
  
  .sidebar nav ul li:last-child {
    border-bottom: none;
  }
  
  .sidebar nav ul li a {
    color: rgb(250, 245, 245);
    text-decoration: none;
  }
  
  .main-content {
    margin-left: 250px;
  }
  
  .menu-toggle {
    display: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  
    .sidebar {
      width: 200px;
    }
  
    .main-content {
      margin-left: 200px;
    }
  
    .menu-toggle {
      display: block;
      position: fixed;
      left: 10px;
      top: 10px;
    }
  }
  .formulario-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    background-color: #e7fceb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 40px auto 20px;  }

  
  .formulario-container h2 {
    text-align: center;
  }
  
  .formulario-container form {
    display: flex;
    flex-direction: column;
  }
  
  .formulario-container label {
    margin-bottom: 8px;
  }
  
  .formulario-container input,
  .formulario-container select,
  .formulario-container textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .formulario-container button {
    background-color: #08062b;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .formulario-container button:hover {
    background-color: #052b07;
  }  